# Ghost API configuration
GHOST_CONTENT_API_KEY=c647b07220b3e2df62b838231e
GHOST_API_URL=https://blog.teacherjake.com

# PocketBase configuration
PUBLIC_POCKETBASE_URL=https://blog.teacherjake.com

# PocketBase Admin/Superuser credentials (required if records are restricted)
POCKETBASE_EMAIL=your_admin_email@example.com
POCKETBASE_PASSWORD=your_admin_password
